/**
 * Custom palette here.
 *
 * ref：https://v1.vuepress.vuejs.org/zh/config/#palette-styl
 */

$accentColor = #3eaf7c
$textColor = #2c3e50
$borderColor = #eaecef
$codeBgColor = #282c34
:root{
  --vt-c-green: #42b883;
  --vt-c-text-2: rgba(60, 60, 60, 0.70);
  --vt-c-text-1: #213547
  --vt-c-green-dark: #33a06f;
  --vt-c-bg-mute: #f1f1f1;
  --vt-c-gray-light-4: #e5e5e5;
  --vt-c-bg-soft: #f9f9f9;
}