/**
 * Custom Styles here.
 *
 * ref：https://v1.vuepress.vuejs.org/config/#index-styl
 */

.home .hero img
  max-width 450px!important

strong
  font-weight 800

gray
  color #9b9a97

thin
  font-weight 200